.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar li {
    display: inline-block;
    padding: 0px 20px;
}
.navbar a {
    text-decoration: none;
    color: black;
}
.Banner {
    background-color:blue;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}
#smallgritty {
    height: 183px;
    width: 206px;
    filter: drop-shadow(2px 2px 2px black);
}
.OIP-section {
    padding: 20px 50px;
    font-size: larger;
}
#OIP {
    color:blue;
    font-size: 300px;
}
#greets ul{
    list-style-type: none;
}
.avatar {
    background-image: url(../images/OIP.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.bold {
    font-weight: 900;
}
a.blue {
    color: blue;
}
